doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Why this is not a PowerPoint?
        ul
          li I am a developer
          li I want to use git
          li HTML is easy to edit

      section
        h1 We can use CSS and JS!
        ul
          li This is ugly and without any interaction
          li But as a developer it should be easy to improve

      section
        h1 HTML5
        ul
          li Please notice we are using HTML5 semantic tagsli
          li It allows HTML to hold only the content
          li Leave presentation layer to CSS
          li Leave behaviour to JavaScript

      section
        h1 All slides in one page
        ul
          li All content should be together
          li Bespoke will analyse the structure to create slides

      section
        h1 Almost ready...
        ul
          li Let's load bespoke!

    script(src='build/build.js')
